:root{
  --main-color: hsl(0, 36%, 70%);
  --secodary-color:hsl(0, 93%, 68%);
  --natural-color:hsl(0, 6%, 24%);
  --grad-color:linear,135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  --grad-color2:Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}

 /* # Colors

### Primary

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)*/
body {
  background:rgba(255, 192, 203, 0.4);
}
.logo-main{
  padding:9px;
  margin-top: 15px;
}
.circle-logo {
    border-radius:50%;
    padding-right: 20px;
    display: inline;
    background-color:transparent;
    border:3px solid var(--main-color);
}
.logo {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 3px;
}
.image{
  width:40%;
  height:auto;

}
.sub {
  color:var(--main-color);
}
.sub ,h1{
  font-size:50px;
  letter-spacing:15px;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight:lighter;
  font-style:normal;
 
  
}
p{
    color: var(--main-color);
    font-size: 16px;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    line-height:1.4;
}
.info{
  display: flex;
  flex-direction: row-reverse;
}

 #email-req{
  width:80%;
  color:var(--main-color);
  background-color: white;
  border-color:var(--grad-color2);
  border-radius: 25px;
  padding-top:10px;
  text-align: center;
  margin: auto;
 }
 .click-req{
  background-color: #ffc0cbde;
  border-color: transparent;
  width: 10%;
  height: 61px;
  border-radius: 25px;
  position: absolute;
  top: 44%;
  right: 43%;
 }





@media (min-width:320px) {
   



}

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  .outfit-uniquifier {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }  







@media (min-width:375px) {
    }
  


    



















@media (min-width:1440px) {

}






.attribution {
    font-size: 11px;
     text-align: center; 
}

.attribution a   { 
   color: hsl(228, 45%, 44%);
 }




/* ## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 300, 400, 600  */
