:root{
  --main-color: hsl(0, 36%, 70%);
  --secodary-color:hsl(0, 93%, 68%);
  --natural-color:hsl(0, 6%, 24%);
  --grad-color:linear,135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  --grad-color2:Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}

 /* # Colors

### Primary

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)*/
body {
  background:rgba(255, 192, 203, 0.4);
}
/* .container {
  background-image:var(--grad-color2);
} */
.logo-main{
  padding:10px;
  margin-right: 10px;
  margin-top: 10px;
}
.circle-logo {
    border-radius:50%;
    width:10px;
    height:8px;
    display: inline;
    margin-top:25px;
    padding-top:5px;
    padding-right:20px;
    background-color:transparent;
    border:3px solid var(--main-color);
}
.logo {
    line-height: -55px;
    padding-right:10px;
    margin-right: 10px;
    font-family: "Young Serif", serif;
    font-size: 12px;
}
.image{
  width:40%;
  height:400px;

}

h1 {
  
}
.sub {
  color:var(--main-color);
  font-family: "Outfit", serif;
}
.sub ,h1{
  font-size:50px;
  letter-spacing:15px;
 
  
}
p{
    color: var(--main-color);
    font-size: 16px;
    font-family: "Young Serif", serif;
}
.info{
  display: flex;
  flex-direction: row-reverse;
}
 .info2{
 
 }
 #email-req{

 }
 .click-req{

 }





@media (min-width:320px) {
   



}

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  .outfit-uniquifier {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }  







@media (min-width:375px) {
    }
  


    



















@media (min-width:1440px) {

}






.attribution {
    font-size: 11px;
     text-align: center; 
}

.attribution a   { 
   color: hsl(228, 45%, 44%);
 }




/* ## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 300, 400, 600  */
